.DS_Store

data/config.php
data/install.lock

data/caches/cache/*
!data/caches/cache/index.html
!data/caches/cache/.htaccess

data/caches/compiled/*
data/caches/compiled/admin/*
!data/caches/compiled/admin/index.html

data/caches/logs/*
!data/caches/logs/index.html

data/caches/query/*
!data/caches/query/index.html

data/caches/static/*
!data/caches/static/index.html

data/attachment/*
!data/attachment/index.html

data/avatar/*
!data/avatar/default/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
