{if $full_page}
<!-- $Id: user_account_list.htm 17030 2010-02-08 09:39:33Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../admin/styles/general.css"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form action="javascript:searchUser()" name="searchForm">
    <img src="images/icon_search.gif" width="25" height="22" border="0" alt="SEARCH" />
    {$lang.user_id} <input type="text" name="keyword" size="10" />
      <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>

<form method="POST" action="" name="listForm">
<!-- start user_deposit list -->
<div class="list-div" id="listDiv">
{/if}
<table cellpadding="3" cellspacing="1">
  <tr>
    <th><a href="javascript:listTable.sort('user_name', 'DESC'); ">{$lang.shop_name}</a>{$sort_user_name}</th>
    <th><a href="javascript:listTable.sort('add_time', 'DESC'); ">{$lang.user_id}</a>{$sort_add_time}</th>
    <th><a href="javascript:listTable.sort('add_time', 'DESC'); ">{$lang.add_date}</a>{$sort_add_time}</th>
    <th><a href="javascript:listTable.sort('amount', 'DESC'); ">{$lang.withdraw_gold}</a>{$sort_amount}</th>
    <th><a href="javascript:listTable.sort('payment', 'DESC'); ">{$lang.withdraw_mode}</a>{$sort_payment}</th>
    <th><a href="javascript:listTable.sort('is_paid', 'DESC'); ">{$lang.commission_Status}</a>{$sort_is_paid}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$list item=item}
  <tr>
    <td align="center">{$shop_name}</td>
    <td align="center">{$user_name}</td>
    <td align="right">{$time}</td>
    <td align="right">{$gold}</td>
    <td>{if $item.payment}{$item.payment}{else}未知{/if}</td>
    <td align="center">{$item.change_desc}</td>
    <td align="center">{$item.admin_user}
    <a href="drp.php?act=drp_refer&id={$item.log_id}" title="{$lang.withdraw}"><img src="images/icon_view.gif" class="withdraw" border="0" height="16" width="16" />
    <a href="javascript:;" onclick="listTable.remove({$item.id}, '{$lang.drop_confirm}')" title="{$lang.drop}" ><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
  <tr>
    <td class="no-records" colspan="8">{$lang.no_records}</td>
  </tr>
  {/foreach}

<table id="page-table" cellspacing="0">
<tr>
  <td>&nbsp;</td>
  <td align="right" nowrap="true">
  
  </td>
</tr>
</table>
{if $full_page}
</div>
<!-- end user_deposit list -->
</form>

<script type="text/javascript" language="JavaScript">
$(function(){
	$(".withdraw").click(function(){
		alert(2132132);
	})
})

</script>
{/literal}
{include file="pagefooter.htm"}
{/if}