<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{$lang.cp_home}</title>
<meta name="author" content="ECTouch Team">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="../data/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="../data/assets/admin/css/style.css" rel="stylesheet">
</head>

<body>
{if $form_act eq "forget_pwd"}
<div class="login-bg">
  <header>
    <div class="login-header"> {$lang.get_newpassword} </div>
  </header>
  <section>
    <form method="post" action="get_password.php" name="submitAdmin" onsubmit="return validate()">
      <div class="login-con">
        <input name="user_name" type="text" placeholder="{$lang.user_name}">
        <input name="email" class="text-email" type="text" placeholder="{$lang.email}">
        <div class="login-con-code">
          <input name="captcha" type="text" placeholder="{$lang.label_captcha}">
          <img src="../index.php?c=action&a=captcha&{$random}" onclick="this.src='../index.php?c=action&a=captcha&'+Math.random();" title="{$lang.click_for_another}" class="cursor" />
        </div>
        <div style="overflow:hidden;">
        	<span class="pull-left"><a href="__ROOT__">{$lang.back_home}</a></span>
            <span class="pull-right"><a href="index.php">{$lang.back_login}</a></span>
        </div>
        <button class="btn ect-btn-login ect-clear" onClick="this.submit">{$lang.click_button}</button>
      </div>
      <input type="hidden" name="action" value="get_pwd" />
      <input type="hidden" name="act" value="forget_pwd" />
    </form>
  </section>
</div>
{/if}
{if $form_act eq "reset_pwd"}
<div class="login-bg">
  <header>
    <div class="login-header"> {$lang.get_newpassword} </div>
  </header>
  <section>
    <form method="post" action="get_password.php" name="submitPwd" onsubmit="return validate2()">
      <div class="login-con">
        <input type="hidden" name="action" value="reset_pwd" />
        <input type="hidden" name="act" value="forget_pwd" />
        <input type="hidden" name="adminid" value="{$adminid}" />
        <input type="hidden" name="code" value="{$code}" />
        <input name="password" type="password" placeholder="{$lang.enter_admin_pwd}">
        <input name="password" type="password" placeholder="{$lang.confirm_admin_pwd}">
        <div style="overflow:hidden;"> <span class="pull-right"><a href="{:U('forget')}">{$lang.forget_pwd}</a></span> </div>
        <div class="get_password">
          <button class="btn btn-danger cpull-left">{$lang.click_button}</button>
          <button class="btn btn-default pull-right">{$lang.reset_button}</button>
        </div>
      </div>
    </form>
  </section>
</div>
{/if}
<footer>
  <div class="login-footer">{$lang.copyright}</div>
</footer>
<div class="passport-bg"></div>
</body>
</html>