<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title><?php echo C('name') . ' ' . C('version'); ?> - <?php echo C('powered'); ?></title>
    <link rel="stylesheet" href="__ASSETS__/css/install.css"/>
</head>
<body>
<div class="wrap">
    <div class="header">
        <h1 class="header-title"><?php echo C('name'); ?>安装向导</h1>
        <div class="header-version">版本：<?php echo C('version'); ?></div>
    </div>
    <div class="step">
        <ul>
            <?php echo $step_html; ?>
        </ul>
    </div>