/*bonus专用*/
@charset "utf-8";
.bonus-img{
	width: auto;
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
	position: fixed;
	right: 0.8rem;
	bottom: 4.3rem;
}
.bonus-img img{
	width: 4.5rem;
}
.bonus-layer{
	z-index: 999;
	display: none;
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
}
.bonus-share{
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 auto;
	width: 80%;
	padding: 1rem 2%;
	background: #eee;
	margin-top: 50%;
}
.bonus-share h1{
	color: #1F1F1F;
	font-size: 1.6rem;
	padding-bottom: 1rem;
}
.bonus-share li{
	height: 50px;
	line-height: 50px;
}
.bonus-share li:not(:last-child){
	margin-bottom: 0.5rem;
}
.bonus-share li img{
	max-width: 50px;
	margin-right: 0.5rem;
}
.bonus-share li p{
	font-size: 1.4rem;
}
.bonus-con{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.bonus-con{
	background: url(../img/bonus_bg.png);
	background-size: 100% 100%;
	padding: 0 10%;
}
.bonus-user{
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	margin-top: 40%;
	width: 100%;
	background: rgba(0,0,0,.2);
	padding: 1.5rem 0;
	/*margin-bottom: 3rem;*/
}
.bonus-user img{
	width: 80%;
	margin-bottom: 1rem;
}
.bonus-user button[type=button]{
	border: none;
	width: 80%;
	color: #FFF;
	font-size:1.4rem;
	line-height: 2.8rem;
	background: #f15353;/*#3190E8*/
	border-radius: 3px;
}
.bonus-user input[type=text]{
	text-align: center;
	border-color: transparent;
	background-color: #fff;
	border: none;
    width: 80%;
    color: #A9A9A9;
    font-size: 1.4rem;
    height: 2.8rem;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.bonus-user p{
	color: #fff;
	font-size: 1.2rem;
	line-height: 2rem;
	padding-bottom: 0.5rem;
}
.bonus-user p span{
	color: #E9DD81;
}
.bonus-user p a{
	color: #E9DD81;
	font-size: 1.2rem;
}
.bonus-rank,.bonus-rule{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.comm-title{
	display: block;
	z-index: 1;
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
	line-height: 5rem;
}
.comm-title span{
	background: #ED2641;
	padding: 0 .6rem;
    z-index: 10;
}
.comm-title hr{
	background: #fff;
	color: #fff;
    height: 1px;
    border: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: 1px;
    z-index: -1;
}
.bonus-rank-list,.bonus-rank-list li{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.bonus-rank-list{
	color: #fff;
}
.bonus-rank-list li{
	margin-bottom: 1rem;
}
.bonus-rank-list div.fl{
	width: 80%;
}
.bonus-rank-list div.fl img{
	margin-right: 0.8rem;
	width: 36px;
	border-radius: 3px;
	float: left;
}
.bonus-rank-list div.fl h2{
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #fff;
}
.bonus-rank-list div.fl h2 span:first-of-type{
	max-width:70px;
	word-break:break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	float: left;
	margin-right: 0.3rem;
}
.bonus-rank-list div.fl p{
	font-size: 1rem;
	color: #FE8284;
}
.bonus-rank-list li h3{
	height: 36px;
	line-height: 36px;
	color: #FFEF00;
	font-size: 1.4rem;
}
.bonus-rule p{
	color:#FE8284;
	font-size: 1rem;
}
header.bonus-header{
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	color: #f15353;
	text-align: center;
}
header.bonus-header img{
	width: 25px;
	vertical-align: middle;
	line-height: 4rem;
	margin-right: 0.5rem;
}
header.bonus-header h1{
	color: #f15353;
	line-height: 4rem;
	font-size: 1.8rem;
}
.user-bonus-con .main{
	margin-top: 4rem;
	padding: 0 1rem;
}
.bonus-title{
	line-height: 4rem;
	font-size: 1.2rem;
	letter-spacing: 1px;
}
.bonus-title p.fl span{
	color: #F15353;
}
.bonus-title p.fr a{
	color: #F15353;
}
.bonus-title p.fr img{
	width: 20px;
	margin-right: 0.5rem;
}
.bonus-detail{
	margin-bottom: 1rem;
	border-radius: 5px;
	border: 1px solid #E7E7E7;border-top: none;
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	padding: 1rem 2%;
}
.bonus-detail div.fl{
	/*padding: 0 1rem;*/
	font-weight: 900;
	width: 32%;
	color:#FF5340;
	font-size: 1.6rem;
	text-align: center;
	border-right: 1px solid #DDDDDD;
	position: relative;
	font-size: 2.5rem;
	line-height: 6rem;
	text-align: center;
}
.bonus-detail div.fl span:first-child{
	position: absolute;
	bottom: 0;
	left: 0;
}
.bonus-detail-price{
	margin-left: 1.5rem;
	display: block;
}
.bonus-detail-price:first-letter{
	font-size: 4.8rem;
}
.bonus-detail div.fr{
	padding-left: 1rem;
	width: 68%;
	box-sizing: border-box;
	overflow: hidden;
}
.bonus-detail div.fr h1{
	font-weight: 900;
	font-size: 2rem;
	padding-bottom: 0.8rem;
	color:#666666;
}
.bonus-detail div.fr ul li{
	color:#A1A1A1;
	font-size: 1.2rem;
	line-height: 1.6rem;
}
.bonus-detail div.fr:after{
	clear: both;
	content:' ';
	
}
.bonus-special{
	position: relative;
	margin-bottom: 0;
	border-bottom: none;
	border-radius:5px 5px 0 0;
}
.bonus-special:before{
	display: block;
	background: #F3F5F7;
	content: ' ';
	width: 30px;
	height: 30px;
	border-radius:50%;
	position: absolute;
	bottom: -15px;
	left: -15px;
	z-index: 2;
	border: 1px solid #fff;
}
.bonus-special:after{
	display: block;
	background: #F3F5F7;
	content: ' ';
	width: 30px;
	height: 30px;
	border-radius:50%;
	position: absolute;
	bottom: -15px;
	right: -15px;
	z-index: 2;
	border: 1px solid #fff;
}
.bonus-special-detail:before{
	display: block;
	background: #F3F5F7;
	content: ' ';
	width: 30px;
	height: 30px;
	border-radius:50%;
	position: absolute;
	top: -15px;
	left: -15px;
	z-index: 2;
	border: 1px solid #fff;
}
.bonus-special-detail:after{
	display: block;
	background: #F3F5F7;
	content: ' ';
	width: 30px;
	height: 30px;
	border-radius:50%;
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 2;
	border: 1px solid #fff;
}
.bonus-special-detail{
	margin-bottom: 1rem;
	position: relative;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	border-top: 1px dashed #dfdfdf;
	background: #F9F9FF;
	font-size:1.4rem;
	color:#999;
	border-radius:0 0 5px 5px;
}
.bonus-question-main{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0 1rem;
}
.bonus-question{
	padding: 1rem 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.bonus-question h1{
	color: #333;
	font-weight:900;
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 0.8rem;
}
.bonus-question p{
	font-size: 1.4rem;
	color: #686868;
	line-height: 1.8rem;
}
.user-bonus-layer{
	z-index: 999;
    display: none;
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background:#F2F2F2;
}
.user-bonus-num{
	padding: 0.8rem 0 0.8rem 0.5rem;
	font-size: 1.4rem;
	margin-top: 1rem;
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 1rem;
}
.user-bonus-btn{
	display: block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	background:#ccc;
	color: #fff;
	font-size: 1.6rem;
	line-height: 2rem;
}
.user-bonus-btn.active{
	background: #56D176;
}
.bonus-overdue-title{
	margin-top: 2rem;
	display: block;
	text-align: center;
	text-decoration: underline;
	font-size: 1.2rem;
	color: #A1A1A1;
}
.overdue-con{
	padding: 1rem;
}
.overdue-con .bonus-detail div.fl,.overdue-con .bonus-detail div.fr h1{
	color: #ccc;
}
.overdue-con .bonus-special-detail{
	background: #fff;
	color: #dedede;
}
.overdue-con .bonus-detail{
	border: 1px solid #ddd;
	border-top: none;
}

.overdue-con .bonus-detail div.fr ul li{
	color: #ddd;
}






